html {
	height: 100%;
	background: url("../img/pc.jpg") no-repeat center;
	background-size: cover;
	
}

.wrapper {

	margin-top: 150px;
	padding-left: 50px;
	text-align: center;
	font-family: Abel, "Noto Sans", Lora, "PT Serif", "Open Sans Condensed";
	/*font-family: Abel, "Shadow into light", cursive, "Indie Flower", Lora, "PT Sans Narrow", "Open Sans Condessed", "san-serif",*/

	
}

h1 {
	color:#000;
	font-size: 30px;
	font-style: italic;
	font-variant: small-caps;
}

p {
	color: #3F1400;
	font-size: 20px;
}



#progressBar {
        width: 400px;
        height: 22px;
        border: 1px solid #111;
        background-color: #292929;
        margin-left: 35%;
        margin-top: 50px;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
       
}

.meter_cold {
	 background-color: #00F;
}

.meter_hot {
	 background-color: #F00;
}

#int {
	 border-radius: 10px;
	 font-size: 18px;	
}

#start {
	border-radius: 10px;
	font-size: 20px;
	background: #6B4700;
	
}

#status {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
}

.cold {
	color: #00F;
	font-size: 20px;
}

.hot {
	color: red;
	font-size: 20px;
}

#play, #newGame {

	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	background: #6B4700; 
	border-radius: 10px;
}

#userguess {
	margin-top: 60px;
}