.round-pink {
	border-radius: 10px;
	background: #e6e5e2;	
	box-shadow: 0 -1px 1px #c0bfbc inset;

}

.round-pink div {
	border-radius: 9px;
	box-shadow: 0 2px 2px #333;	
	background-color: #CCC;
	
}

/*.cold div {

	background: -webkit-linear-gradient(top, #ff00f0, #00F);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff00f0), to(#00F)); 
	background: -moz-linear-gradient(top, #ff00f0, #00F); 
	background: -ms-linear-gradient(top, #ff00f0, #00F); 
	background: -o-linear-gradient(top, #ff00f0, #00F);	
}

.hot div {
	background: -webkit-linear-gradient(top, #ff00f0, #F00);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff00f0), to(#F00)); 
	background: -moz-linear-gradient(top, #ff00f0, #F00); 
	background: -ms-linear-gradient(top, #ff00f0, #F00); 
	background: -o-linear-gradient(top, #ff00f0, #F00);	
}*/